.logo-img{
	height:130px;
}
.input-content{
	margin-top:55px;
}

.input-style{
	margin-bottom:20px;
	height:40px;
	background:rgba(0, 0, 0, 0);
	border:1px solid #fff;
	color:#fff;
	
}
.login-btn{
	margin-top:30px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}